/* container for the form */
.user-form{
  display: flex;
  width: 500px;
  height: 300px ;
  margin-top: 60px;
  margin-right: 70px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: antiquewhite;
}

main{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
  margin-left: 40px;
  margin-top: 20px;
  color:  rgb(11, 11, 58);
}
label{
  font-size: 20px;
}

::placeholder{
  font-size: 15px;
}

input[type="text"]{
  width: 300px;
  height: 30px;
  align-items: center;
  margin-top: 20px;
  box-sizing: border-box;
}
button{
  color: aliceblue;
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
  height: 30px;
  width:300px;
  background-color: rgb(11, 11, 58);
  border-radius: 20px;
}