*{
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
}

#background{
  background-color: bisque;
}
/* header */
header{ 
  display:flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  padding-inline: 20px;
  color: white;
  background-color: rgb(4, 4, 62);}

/* creating hero image */
.hero-image{
  height: 450px;
  background-image: url(./reypng.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
/*  hover */

/* display menu to lay in line */
li{
  display: inline-block;
  padding-top: 10px;
  margin-right: 1em;
  padding-left: 30px;
  list-style-type: none;}

a{
  color: aliceblue;
}
/* added hover effect to menu*/
.menu li:hover{background-color: gold;
background-position: center;}


a:hover{
  cursor: pointer;
  opacity: 0.5;

}
button{
  display: flex;
  margin: auto;
  height: 30px;
  align-items: center;
  font-weight: bold;
  border-radius: 10px;
  background-color: gold;}

button:hover{cursor: pointer;
  opacity:0.5;

}
  
p{
  display: flex;
  background-color: chocolate;
}
.text{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

/* adjust size of image */
img{
  display: flex;
  margin-left: 30px;
  margin-top: 40px;
  border-radius: 20px;
  background-color: rgb(250, 248, 245);
  padding: 20px;
  justify-content: center;
  width:350px;
  height: 350px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}
.gallery a{
flex-basis:33.33%;
margin:8px;
}


/* main */
.main{
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
  h3{
    text-align: center;
  }

/* adding the aside */
.aside{
  display: flex;
  padding-top: 50px;
  flex-direction: column;
  flex-wrap: wrap;
  background-color:rgb(247, 220, 144);
}
.aside img{
  width: 80px;
  height: 80px;
  margin: 10px
}

footer{
    display: flex;
    height: 60px;
    padding-top:  20px;
    background-color: rgb(1, 1, 15);
    color: aliceblue;
    justify-content: center
  } 

  @media screen and (max-width:992px){
    header{background-color: rgb(2, 44, 2);
      h3 h1 h4{
        color: rgb(39, 6, 69);
      }}
    
  }@media screen and (min-width:768px){
    body{min-width: 100px}
    body h3 h1 h4{color: gold;}
  }
  @media screen and (min-width:768px) {
    .aside{min-width: wrap;}
    
  }
  